.link {
	@apply max-w-fit relative font-body_font hover:text-opacity-75 text-foreground cursor-pointer;
}

.externalLink {
	@apply items-start;
}

.link::after {
	content: '';
	@apply bg-primary h-1 w-0 block hover:w-full absolute top-full left-1/2 -translate-x-1/2 transition-width duration-500 ease-soft-spring active:w-[150%];
}

.link.active::after {
	content: '';
	@apply bg-primary h-1 w-full block absolute left-1/2 -translate-x-1/2;
}

.active {
	@apply cursor-default pointer-events-none relative;
}

.link.clicked::after {
	content: '';
	@apply bg-primary h-1 w-full block absolute left-1/2 -translate-x-1/2;
}
